{% extends 'tracker/base.html' %}

{% block content %}
<style>
    h1{
        color: white;
    }
</style>
<div class="container">
<div class="heading">
    <h1>Sign in to your account</h1>
</div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-elements">
            <input type="text" class="form-control" placeholder="username" name="username">
            <input type="text" class="form-control" placeholder="password" name="password">
            <input type="submit" class="btn btn-outline-primary" value="Login">
            <a href="{% url 'register_user' %}" class="btn btn-outline-secondary" >Sign up</a>
        
        </div>
    </form>
</div>
{% endblock %}